.owl-carousel{
    max-width: 90%;
    margin: auto;
    
    .items{
        max-width: 300px;
    }
    .chevron{
        color: blue;
        font-size: 30px;
        border-radius: 10px;
        &:hover{
            color: white;
            
        }
    }
    

}
