.footercontent{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-around;
    color: white;
    gap: 50px;
    padding: 10px;
    font-family: 'Timmana', Verdana, Geneva, Tahoma, sans-serif;
    .centre{
        // border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        max-width: 300px;
        .reseau{
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 20px;
            font-size: 40px;
            i{
                color: white;
                &:hover{
                    color: purple;
                }
            }
            
        }
        .lien{
            display: flex;
            flex-wrap: wrap;
            a{
                text-decoration: none;
                color: white;
                width: 140px;
                line-height: 40px;
                &:hover{
                    color: purple;
                }
            }
        }
    }
    .map{
        // border: 1px solid white;
        max-width: 390px;
        .adresse{
            text-align: center;
            padding: 10px;
        }
    }
    .logo{
        // border: 1px solid white;
        display: flex;
        max-width: 390px;
        .logoun img, .logodeux img{
            max-width: 150px; 
        }
        .logodeux{
            display: flex;
            flex-direction: column;
        }
    }
}