.conteneurform{
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 100px;
.conteneur{
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.6rem;

    p{
        text-align: center;
    }.picto{
        text-align: center;
       a{
        margin: 10px;
       }
       
       
    }
}
}
.btn{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    input{
        padding: 5px 15px;
        background-color: black;
        color: white;
        margin-bottom: 20px;
    }
   }
